.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal_opened {
  display: flex;
}

.modal__content {
  position: relative;
  width: 430px;
  padding: 34px 36px 28px;
  border-radius: 16px;
  background-color: #fff;
}

.modal__close {
  position: absolute;
  top: -46px;
  right: -46px;
  border: none;
  background: transparent;
  font-size: 42px;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 22px;
  font-size: 24px;
  line-height: 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__submit {
  margin-top: 32px;
  padding: 20px;
  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  color: #fff;
  cursor: pointer;
}
