.search-form {
  position: relative;
  max-width: 608px;
  height: 64px;
  margin: 0 auto;
  cursor: pointer;
}

.search-form__input {
  width: 100%;
  height: 100%;
  padding: 0 190px 0 24px;
  border: none;
  border-radius: 100px;
  background-color: #fff;
  font-size: 16px;
  line-height: 22px;
}

.search-form__input::placeholder {
  color: #b6bcbf;
}

.search-form__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 168px;
  height: 64px;
  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.search-form__button:hover {
  background-color: #347eff;
}

.search-form__button:active {
  background-color: #2a65cc;
}

.search-form__button:disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  cursor: default;
}

.search-form__error {
  position: absolute;
  top: 72px;
  left: 24px;
  color: #ff0000;
  font-size: 14px;
  line-height: 18px;
}

.search-form__input:-webkit-autofill,
.search-form__input:-webkit-autofill:hover,
.search-form__input:-webkit-autofill:focus,
.search-form__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: #1a1b22;
}

.search-form__input:focus {
  outline: none;
  background-color: #fff;
}

/* Phone */
@media screen and (max-width: 550px) {
  .search-form {
    max-width: 288px;
    height: auto;
  }

  .search-form__input {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .search-form__button {
    position: static;
    width: 100%;
    height: 56px;
    margin-top: 16px;
  }

  .search-form__error {
    top: 58px;
    left: 16px;
  }
}
