.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 104px;
}

.header__logo {
  color: inherit;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}
